<div id=total-stations>
  <%= facade.total_stations %>
</div>

<div id=nearest-stations>
  <% facade.nearest_stations.each do |station| %>
    Name: <%= station.name%>
    Address: <%= station.address%>
    Fuel Types: <%= station.fuel_types%>
    Distance: <%= station.distance%>
    Access Times: <%= station.access_times%>

  <%end %>

</div>
